# Data Cleaning and Pre-processing Task

Fill the missing values, removing/inserting  columns, labelling the output column, feature scaling, converting the categorical values to numerical values etc.

***Import necessary packages***

In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.preprocessing import LabelEncoder

***Create new dataset***

Generate new dataset using the following information:

**age**,**income**,**date**,**marital_status**,**gender**

35,70000,2020-01-01,married,female

41,90000,2020-01-02,single,male

23,50000,2020-01-03,married,male

32,60000,2020-01-04,single,female

28,,2020-01-05,married,female

36,75000,2020-01-06,single,male

45,100000,2020-01-07,married,female

39,80000,,single,male

44,95000,2020-01-09,married,male

29,55000,2020-01-10,single,female

In [24]:
# Generate random data
data = {
    'age': [35,41,23,32,28,36,45,39,44,29],
    'income': ['70000','90000','50000','60000','','75000','100000','80000','95000','55000'],
    'date':['2020-01-01','2020-01-02','2020-01-03','2020-01-04','2020-01-05','2020-01-06','2020-01-07','','2020-01-09','2020-01-10'],
    'marital_status':['married','single','married','single','married','single','married','single','married','single'],
    'gender':['female','male','male','female','female','male','female','male','male','female']
}

# Convert data to a pandas dataframe and save to CSV file
df = pd.DataFrame(data)
df.to_csv('data.csv', index=False)

In this example, we have 5 columns: age, income, date, marital_status, and gender. The income column has a missing value, which we can use to demonstrate how to handle missing values. The marital_status and gender columns are categorical variables, which we can use to demonstrate how to convert categorical values to numerical values using one-hot encoding and label encoding.

***Load dataset***

In [25]:
df = pd.read_csv('data.csv')
print(df)

   age    income        date marital_status  gender
0   35   70000.0  2020-01-01        married  female
1   41   90000.0  2020-01-02         single    male
2   23   50000.0  2020-01-03        married    male
3   32   60000.0  2020-01-04         single  female
4   28       NaN  2020-01-05        married  female
5   36   75000.0  2020-01-06         single    male
6   45  100000.0  2020-01-07        married  female
7   39   80000.0         NaN         single    male
8   44   95000.0  2020-01-09        married    male
9   29   55000.0  2020-01-10         single  female

# Handling Missing Values

*   Identify missing values in the dataset using isnull() function
*   Use appropriate method to fill the missing values, such as:

1. Mean, median or mode for numerical data
2. Forward-fill, backward-fill or interpolation for time-series data
3. Dropping the rows or columns with missing values if they are not significant

***Identify missing values***

Find missing values in the dataset using **isnull()** function

In [26]:
print(df.columns)
print(df.isnull().sum())
print(df)

Index(['age', 'income', 'date', 'marital_status', 'gender'], dtype='object')
age               0
income            1
date              1
marital_status    0
gender            0
dtype: int64
   age    income        date marital_status  gender
0   35   70000.0  2020-01-01        married  female
1   41   90000.0  2020-01-02         single    male
2   23   50000.0  2020-01-03        married    male
3   32   60000.0  2020-01-04         single  female
4   28       NaN  2020-01-05        married  female
5   36   75000.0  2020-01-06         single    male
6   45  100000.0  2020-01-07        married  female
7   39   80000.0         NaN         single    male
8   44   95000.0  2020-01-09        married    male
9   29   55000.0  2020-01-10         single  female

***Handle missing values***

Fill missing values using mean of the particular column

In [7]:
df['income'].fillna(df['income'].mean(), inplace=True)
print(df)

   age    income        date marital_status  gender
0   35   70000.0  2020-01-01        married  female
1   41   90000.0  2020-01-02         single    male
2   23   50000.0  2020-01-03        married    male
3   32   60000.0  2020-01-04         single  female
4   28   75000.0  2020-01-05        married  female
5   36   75000.0  2020-01-06         single    male
6   45  100000.0  2020-01-07        married  female
7   39   80000.0         NaN         single    male
8   44   95000.0  2020-01-09        married    male
9   29   55000.0  2020-01-10         single  female

***Fill missing values using forward-fill method for time-series data***

In [8]:
df['date'].fillna(method='ffill', inplace=True)
print(df)

   age    income        date marital_status  gender
0   35   70000.0  2020-01-01        married  female
1   41   90000.0  2020-01-02         single    male
2   23   50000.0  2020-01-03        married    male
3   32   60000.0  2020-01-04         single  female
4   28   75000.0  2020-01-05        married  female
5   36   75000.0  2020-01-06         single    male
6   45  100000.0  2020-01-07        married  female
7   39   80000.0  2020-01-07         single    male
8   44   95000.0  2020-01-09        married    male
9   29   55000.0  2020-01-10         single  female

***Drop rows with missing values***

In [9]:
df.dropna(inplace=True)
print(df)

   age    income        date marital_status  gender
0   35   70000.0  2020-01-01        married  female
1   41   90000.0  2020-01-02         single    male
2   23   50000.0  2020-01-03        married    male
3   32   60000.0  2020-01-04         single  female
4   28   75000.0  2020-01-05        married  female
5   36   75000.0  2020-01-06         single    male
6   45  100000.0  2020-01-07        married  female
7   39   80000.0  2020-01-07         single    male
8   44   95000.0  2020-01-09        married    male
9   29   55000.0  2020-01-10         single  female

# Removing/Inserting Columns

* Identify irrelevant or redundant columns in the dataset using drop() function
* Insert new columns based on specific criteria or calculations using assign() function

***Remove irrelevant column***

In [10]:
df1 = df.drop('gender', axis=1)
print(df1)

   age    income        date marital_status
0   35   70000.0  2020-01-01        married
1   41   90000.0  2020-01-02         single
2   23   50000.0  2020-01-03        married
3   32   60000.0  2020-01-04         single
4   28   75000.0  2020-01-05        married
5   36   75000.0  2020-01-06         single
6   45  100000.0  2020-01-07        married
7   39   80000.0  2020-01-07         single
8   44   95000.0  2020-01-09        married
9   29   55000.0  2020-01-10         single

***Insert new column with age squared***

In [11]:
df1 = df1.assign(age_squared=lambda x: x['age']**2)
print(df1)

   age    income        date marital_status  age_squared
0   35   70000.0  2020-01-01        married         1225
1   41   90000.0  2020-01-02         single         1681
2   23   50000.0  2020-01-03        married          529
3   32   60000.0  2020-01-04         single         1024
4   28   75000.0  2020-01-05        married          784
5   36   75000.0  2020-01-06         single         1296
6   45  100000.0  2020-01-07        married         2025
7   39   80000.0  2020-01-07         single         1521
8   44   95000.0  2020-01-09        married         1936
9   29   55000.0  2020-01-10         single          841

# Labelling the Output Column

* Identify the target variable in the dataset
* Assign a meaningful label to the target variable column using rename() function

***Rename target variable column***

In [12]:
df1 = df1.rename(columns={'income': 'annual_income'})
print(df1.columns)

Index(['age', 'annual_income', 'date', 'marital_status', 'age_squared'], dtype='object')

# Feature Scaling

* Normalize the numerical features in the dataset to a common scale to avoid biased results using MinMaxScaler(), StandardScaler() or RobustScaler() functions

***Min-Max scaling***

In [13]:
scaler = MinMaxScaler()
df1['age'] = scaler.fit_transform(df1[['age']])
df1

        age  annual_income        date marital_status  age_squared
0  0.545455        70000.0  2020-01-01        married         1225
1  0.818182        90000.0  2020-01-02         single         1681
2  0.000000        50000.0  2020-01-03        married          529
3  0.409091        60000.0  2020-01-04         single         1024
4  0.227273        75000.0  2020-01-05        married          784
5  0.590909        75000.0  2020-01-06         single         1296
6  1.000000       100000.0  2020-01-07        married         2025
7  0.727273        80000.0  2020-01-07         single         1521
8  0.954545        95000.0  2020-01-09        married         1936
9  0.272727        55000.0  2020-01-10         single          841

***Standard scaling***

In [14]:
scaler = StandardScaler()
df1[['annual_income', 'age_squared']] = scaler.fit_transform(df1[['annual_income', 'age_squared']])
df1

        age  annual_income        date marital_status  age_squared
0  0.545455      -0.313112  2020-01-01        married    -0.128298
1  0.818182       0.939336  2020-01-02         single     0.827650
2  0.000000      -1.565561  2020-01-03        married    -1.587378
3  0.409091      -0.939336  2020-01-04         single    -0.549671
4  0.227273       0.000000  2020-01-05        married    -1.052802
5  0.590909       0.000000  2020-01-06         single     0.020545
6  1.000000       1.565561  2020-01-07        married     1.548805
7  0.727273       0.313112  2020-01-07         single     0.492230
8  0.954545       1.252449  2020-01-09        married     1.362227
9  0.272727      -1.252449  2020-01-10         single    -0.933308

# Converting Categorical Values to Numerical Values

* Identify categorical features in the dataset
* Use get_dummies() or LabelEncoder() functions to encode categorical values into numerical values

***One-hot encoding***

In [ ]:
df = pd.get_dummies(df, columns=['age'])
df

,income,date,marital_status,gender,age_23,age_28,age_29,age_32,age_35,age_36,age_39,age_41,age_44,age_45
0,70000.0,2020-01-01,married,female,0,0,0,0,1,0,0,0,0,0
1,90000.0,2020-01-02,single,male,0,0,0,0,0,0,0,1,0,0
2,50000.0,2020-01-03,married,male,1,0,0,0,0,0,0,0,0,0
3,60000.0,2020-01-04,single,female,0,0,0,1,0,0,0,0,0,0
4,75000.0,2020-01-05,married,female,0,1,0,0,0,0,0,0,0,0
5,75000.0,2020-01-06,single,male,0,0,0,0,0,1,0,0,0,0
6,100000.0,2020-01-07,married,female,0,0,0,0,0,0,0,0,0,1
7,80000.0,2020-01-07,single,male,0,0,0,0,0,0,1,0,0,0
8,95000.0,2020-01-09,married,male,0,0,0,0,0,0,0,0,1,0
9,55000.0,2020-01-10,single,female,0,0,1,0,0,0,0,0,0,0

***Label encoding***

In [21]:
le = LabelEncoder()
df[['marital_status', 'gender']] = df[['marital_status', 'gender']].apply(le.fit_transform)
df

   age    income        date  marital_status  gender
0   35   70000.0  2020-01-01               0       0
1   41   90000.0  2020-01-02               1       1
2   23   50000.0  2020-01-03               0       1
3   32   60000.0  2020-01-04               1       0
4   28   75000.0  2020-01-05               0       0
5   36   75000.0  2020-01-06               1       1
6   45  100000.0  2020-01-07               0       0
7   39   80000.0  2020-01-07               1       1
8   44   95000.0  2020-01-09               0       1
9   29   55000.0  2020-01-10               1       0

These are some of the common data cleaning and pre-processing tasks that you might encounter in your data analysis and machine learning projects. By performing these tasks, you can ensure that your data is clean, consistent, and ready for analysis or model training.